// fonts
$font-main: 'Roboto', sans-serif;
$font-pacific: 'Pacifico', cursive;
$font-patrick: 'Patrick Hand', cursive;
$font-shadows: 'Shadows Into Light', cursive;
$ont-vina: 'Vina Sans', sans-serif;

// colors
$color-bg: #f3f4f5;
$color-secondary: #999;
